<div class="profile-data">
  <div class="profile-data-picture">
    <img
      class="profile-data-picture-img"
      src="{{ userPicture }}"
      alt="profile picture"
    />
    <input type="file" accept="image/*" (change)="onFileSelected($event)" />
  </div>
  <div class="profile-data-content">
    <form class="profile-data-content-form" [formGroup]="form" novalidate>
      <mat-form-field class="profile-data-form-login">
        <input
          [disabled]="true"
          matInput
          placeholder="Login"
          [value]="email"
          disabled
        />
      </mat-form-field>
      <mat-form-field class="profile-data-form-first-name">
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="profile-data-form-last-name">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field class="profile-data-form-gender">
        <input matInput placeholder="Gender" formControlName="gender" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="birthday"
          placeholder="Birthday"
          formControlName="birthday"
          [max]="todayDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthday"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
      </mat-form-field>
      <ng-container *ngIf="form.controls.birthday?.invalid">
        <mat-error
          class="date-error"
          *ngIf="form.controls.birthday?.errors.matDatepickerParse"
        >
          Date format invalid
        </mat-error>
      </ng-container>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="joinDate"
          placeholder="Join Date"
          [value]="joinDateValue"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="joinDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #joinDate></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
  <button
    class="profile-data-save"
    [disabled]="form.invalid"
    type="submit"
    (click)="onSave()"
  >
    Save
  </button>
</div>
