@import 'mto-variables.scss';
.profile-data {
  height: 100%;

  &-form {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 1fr;
    height: 100%;
    align-items: center;
  }
  
  &-picture {
    grid-column-start: 2;

    &-img {
      max-width: 250px;
    }
  }

  &-content {
    grid-column-start: 3;
    display: grid;

    // &-form {
    //   display: grid;
    // }
  }

  &-save {
    grid-column-start: 3;
    width: 250px;
    justify-self: end;
    align-self: start;
  }
}

.date-error {
  position: relative;
  top: -20px;
}
