@import 'mto-variables.scss';
.profile-data {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding-left: 25%;
  padding-right: 25%;
  height: 100%;
  align-items: center;

  &-picture {
    &-img {
      max-width: 350px;
    }
  }

  &-content {
    &-form {
      display: grid;
    }
  }

  &-save {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 250px;
    justify-self: center;
    align-self: start;
  }
}

.date-error {
  position: relative;
  top: -20px;
}
