<div class="profile-data">
  <form class="profile-data-form" [formGroup]="form" novalidate>
    <div class="profile-data-picture">
      <img
        class="profile-data-picture-img"
        alt="profile picture"
        [src]="user.picture || 'http://placehold.it/180'"
      />
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        formControlName="picture"
      />
      <ng-container *ngIf="form.controls.picture?.invalid">
        <mat-error *ngIf="form.controls.picture?.errors.noFile">
          No file choosen
        </mat-error>
        <mat-error *ngIf="form.controls.picture?.errors.fileToBig">
          File to big
        </mat-error>
        <mat-error *ngIf="form.controls.picture?.errors.wrongExtension">
          Wrong extension
        </mat-error>
      </ng-container>
    </div>
    <div class="profile-data-content">
      <mat-form-field class="profile-data-form-login">
        <input
          [disabled]="true"
          [value]="user.email"
          matInput
          placeholder="Login"
          disabled
        />
      </mat-form-field>
      <mat-form-field class="profile-data-form-first-name">
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="profile-data-form-last-name">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field class="profile-data-form-gender">
        <input matInput placeholder="Gender" formControlName="gender" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Birthday"
          formControlName="birthday"
          [matDatepicker]="birthday"
          [max]="todayDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthday"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
      </mat-form-field>
      <ng-container *ngIf="form.controls.birthday?.invalid">
        <mat-error
          class="date-error"
          *ngIf="form.controls.birthday?.errors.matDatepickerParse"
        >
          Date format invalid
        </mat-error>
      </ng-container>
      <mat-form-field>
        <input
          [matDatepicker]="joinDate"
          [value]="user.joinDate"
          matInput
          placeholder="Join Date"
          disabled
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="joinDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #joinDate></mat-datepicker>
      </mat-form-field>
    </div>
    <button
      class="profile-data-save"
      [disabled]="form.invalid"
      type="submit"
      (click)="onSave()"
    >
      Save
    </button>
  </form>
</div>
