<mto-header></mto-header>
<div class="index">
  <ngb-carousel
    class="index-carousel"
    *ngIf="images"
    [showNavigationArrows]="false"
  >
    <ng-template ngbSlide *ngFor="let image of images; index as i">
      <img
        [src]="images[i]"
        alt="Random first slide"
        class="index-carousel-picture"
      />
      <div class="carousel-caption">
        <h3>{{ imageDescriptions[i].label }}</h3>
        <p>{{ imageDescriptions[i].description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <mto-index-footer></mto-index-footer>
</div>
