<div class="profile">
  <mto-header [title]="'Profile'"></mto-header>
  <div class="profile-body">
    <div class="profile-body-menu">
      <div class="profile-body-menu-option">Data</div>
      <div class="profile-body-menu-option">Password</div>
      <div class="profile-body-menu-option">Connected Apps</div>
    </div>
    <div class="profile-body-content">
      <ng-container [ngSwitch]="choosenOption">
        <mto-data *ngSwitchCase="'data'">Data</mto-data>
        <mto-password *ngSwitchCase="'password'">Password</mto-password>
        <mto-apps *ngSwitchCase="'apps'">Connected Apps</mto-apps>
      </ng-container>
    </div>
  </div>
</div>
