<div class="profile">
  <mto-header [title]="'Profile'"></mto-header>
  <div class="profile-body">
    <div class="profile-body-menu">
      <div class="profile-body-menu-option">Data</div>
      <div class="profile-body-menu-option">Password</div>
      <div class="profile-body-menu-option">Connected Apps</div>
    </div>
    <div class="profile-body-content">
      <ng-container [ngSwitch]="choosenOption">
        <div *ngSwitchCase="'data'">Data</div>
        <div *ngSwitchCase="'password'">Password</div>
        <div *ngSwitchCase="'apps'">Connected Apps</div>
      </ng-container>
    </div>
  </div>
</div>
