<div class="apps">
  <div class="apps-added">
    <div class="apps-added-app" *ngFor="let app of apps">
      <img [src]="app.userLogo" class="apps-added-app-logo" alt="user logo" />
      <span class="apps-added-app-name">
        {{ app.name | mtoApiName }}
      </span>
      <span class="apps-added-app-user">{{ app.userLogin }}</span>
      <mat-slide-toggle
        (change)="onChangeToggle($event.checked, app.id)"
        class="apps-added-app-switch"
      ></mat-slide-toggle>
    </div>
  </div>
  <div class="apps-add">
    <fa-icon
      class="apps-add-icon"
      size="3x"
      [icon]="['far', 'plus-square']"
      (click)="openDialog()"
    ></fa-icon>
    <div class="apps-add-text">Add new app</div>
  </div>
</div>
