@import 'mto-variables.scss';

.apps {
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;

  &-added {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  &-add {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 1rem;

    &-icon {
      justify-self: end;
      cursor: pointer;
    }

    &-text {
      justify-self: start;
    }
  }
}

img {
  height: 50px;
}
