<div class="apps">
  <div class="apps-added">
    <div class="apps-added-app" *ngFor="let app of apps">
      <div class="apps-added-app-data">
        <span class="apps-added-app-data-name">{{ app.name }}</span>
        <span class="apps-added-app-data-logo">{{ app.userLogo }}</span>
        <span class="apps-added-app-data-user">{{ app.userLogin }}</span>
      </div>
      <mat-slide-toggle class="apps-added-app-switch"></mat-slide-toggle>
    </div>
  </div>
  <div class="apps-add">
    <div class="apps-add-icon">Add icon</div>
    <div class="apps-add-text">Add new app</div>
  </div>
</div>
