@import 'mto-variables.scss';

.apps {
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: 100%;
  padding: 2rem;

  &-added {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;

    &-app {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr 1fr min-content;
      align-items: center;
      justify-self: center;
      grid-column-gap: 2rem;
      width: 80%;
    }
  }
}

img {
  height: 50px;
}
