@import 'mto-variables.scss';
.add-api {
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr min-content;

  &-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

    input {
      width: 50%;
    }

    &-save {
      justify-self: end;
    }
  }
}
