<div class="profile-password">
    <form class="profile-password-form" [formGroup]="form" novalidate>
      <div class="profile-password-content">
        <mat-form-field class="profile-password-email">
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="profile-password-old-password">
          <input matInput placeholder="Old Password" formControlName="oldPassword" />
        </mat-form-field>
        <mat-form-field class="profile-password-form-new-password">
          <input matInput placeholder="New Password" formControlName="newPassword" />
        </mat-form-field>
      </div>
      <button
        class="profile-password-save"
        [disabled]="form.invalid"
        type="submit"
        (click)="onSave()"
      >
        Save
      </button>
    </form>
  </div>
  