<div class="profile-password">
  <form class="profile-password-form" [formGroup]="form" novalidate>
    <div class="profile-password-content">
      <mat-form-field class="profile-password-email">
        <mat-label>Email</mat-label>
        <input matInput type="email" [value]="passwordData.email" required [readonly]="true" disabled />
      </mat-form-field>
      <div class="profile-password-old-password password-input">
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input matInput type="password" formControlName="oldPassword" required />
          <mat-error *ngIf="form.controls.oldPassword.errors?.required && form.controls.oldPassword.touched">
            old password is required
          </mat-error>
        </mat-form-field>
        <div class="profile-password-old-password-checkbox password-input-checkbox">
          <span>show password</span>
          <mat-checkbox class="password-checkbox" (change)="onChange($event)"></mat-checkbox>
        </div>
      </div>
      <div class="profile-password-form-new-password password-input">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required />
          <mat-error *ngIf="form.controls.newPassword.errors?.required && form.controls.newPassword.touched">
            new password is required
          </mat-error>
          <mat-error *ngIf="form.controls.newPassword.errors?.nameEqual && form.controls.newPassword.touched">
            new password has to be different than old one
          </mat-error>
        </mat-form-field>
        <div class="profile-password-new-password-checkbox password-input-checkbox">
          <span>show password</span>
          <mat-checkbox class="password-checkbox" (change)="onChange($event)"></mat-checkbox>
        </div>
      </div>
    </div>
    <button class="profile-password-save" [disabled]="form.invalid" type="submit" (click)="onSave()">
      Save
    </button>
  </form>
</div>