@import 'mto-variables.scss';

.profile-password {
    height: 100%;

    .profile-password-form {
        display: grid;
        height: 100%;
        grid-template-rows: 9fr 1fr;

        .profile-password-content {
            display: grid;
            align-items: center;
            justify-items: center;

            & > * {
                width: 25%;
            }
        }
    }
}

.password-input {
   & > * {
       width:100%;
   }

   &-checkbox {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-items: right;
    grid-column-gap: 0.5rem;
   }
}

  