// colors
$mto-violet: #610f7f;
$mto-dark-violet: #2f0147;
$mto-white: #f0eeee;
$mto-dirty-pink: #9c528b;
$mto-pink-cream: #b9929f;
$mto-cream: #e2c2c6;
// fonts

@mixin font-bold-28 {
  font-family: 'Lato-Bold';
  font-size: 28px;
  font-weight: 700;
}

@mixin font-bold-24 {
  font-family: 'Lato-Regular';
  font-size: 24px;
  font-weight: 700;
}

@mixin font-24 {
  font-family: 'Lato-Regular';
  font-size: 24px;
  font-weight: 400;
}

@mixin font-bold-21 {
  font-family: 'Lato-Bold';
  font-size: 21px;
  font-weight: 700;
}

@mixin font-21 {
  font-family: 'Lato-Regular';
  font-size: 21px;
  font-weight: 400;
}

@mixin font-light-21 {
  font-family: 'Lato-Light';
  font-size: 21px;
  font-weight: 300;
}
